<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Subscription Manager</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <!-- Top navigation bar -->
    <header class="navbar">
        <div class="navbar__container">
            <a href="/" class="navbar__brand">
                Smart Subscription Manager
            </a>
        </div>
    </header>

    {% block content %}{% endblock %}

</body>

</html>
