{% extends "base.html" %}

{% block content %}
    <!-- Landing page -->
    <main class="landing-page">
        <div class="landing-page__container">

            <h1 class="dashboard__welcome">Manage Your Subscriptions Smarter</h1>

            <p>
                Track all your subscriptions in one place, monitor spending, and never miss a renewal again.
                Take control of your monthly expenses with ease.
            </p>

            <a href="/dashboard" class="dashboard__add-btn">Go to Dashboard</a>

        </div>
    </main>
{% endblock %}
